<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>

<body>
    {{> header}}
    <p>This is a about text</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit, nesciunt reiciendis soluta obcaecati unde animi
        rem consectetur, minus cumque repellat neque optio aspernatur veritatis culpa fuga error, quam beatae.
        Recusandae!</p>

    <a href="/">Home</a>
    {{> footer}}
</body>


</html>