<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home page</title>
</head>

<body>
    {{> header}}
    <main>
        <h1>{{screamIt welcomeMessage}}</h1>
        <ul>
            <li><a href="/about">About</a></li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>
    </main>

    {{> footer}}
</body>

</html>